html {
  background-color: #23252c;
}
.profile-image {
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid black;
  overflow: hidden;
  margin: auto;
}
.profile-image > img {
  width: 317px;
  height: 317px;
}
.App {
  position: absolute;
  width: 550px;
  height: 1000px;
  left: 15px;
  top: 20px;

  background: #23252c;
}
.business-card {
  width: 550;
  height: 1000px;
}
.main-content {
  background-color: #1a1b21;
  width: 317px;
  min-height: 650px;
  margin: auto;
  border: 2px solid black;
}
.Header > h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.Header > h2 {
  padding: 15px;
  position: absolute;
  width: 178.06px;
  height: 14.19px;
  left: 186px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  color: #f3bf99;
}
.Header > a {
  position: absolute;
  width: 228px;
  height: 16px;
  top: 440px;
  left: 161px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 120%;
  text-align: center;
  color: #f5f5f5;
}

.Header > .ButtonsContainer > .Email > button {
  background-color: #ffffff;
  position: absolute;
  width: 118px;
  height: 50px;
  left: 151px;
  top: 500px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
}
.Header > .ButtonsContainer > .Email > button > .button-logo {
  height: 20px;
  width: 20px;
  left: 16px;
  top: 9px;
  border-radius: 0px;
  margin-right: 8px;
  margin-left: 12px;
}

.Header > .ButtonsContainer > .LinkedIn > button {
  color: #ffffff;
  background-color: #5093e2;
  position: absolute;
  width: 118px;
  height: 50px;
  left: 283px;
  top: 500px;
  font-weight: bold;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Header > .ButtonsContainer > .LinkedIn > button > .button-logo {
  height: 16px;
  width: 16px;
  left: 16px;
  top: 9px;
  border-radius: 0px;
  margin-right: 8px;
}
.about-container {
  position: absolute;
  width: 247px;
  height: 61px;
  left: 152px;
  top: 561px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #dcdcdc;
}

.about-container > h3 {
  font-weight: bold;
}
.interest-container {
  position: absolute;
  width: 247px;
  height: 61px;
  left: 152px;
  top: 780px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #dcdcdc;
}
.interest-container > h3 {
  font-weight: bold;
}
.my-footer {
  margin: auto;
  display: flex;
  width: 317px;
  justify-content: center;
  align-items: center;
  background-color: #161619;
  color: #fff;
  padding: 25px;
  border-radius: 0px 0px 10px 10px;
}
.my-footer > a {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
